@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    ---purple-light: #606FFD;
    ---white: #FFFF;
    ---dark: #060606;
    ---black: #0000;
    ---gray: #1E1E1E;
    ---gray-dark: #121212;
}

*{
    font-family: 'Inter', sans-serif;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(---dark);
}
.header.fixed{
    padding: 1rem !important;
    transition: .2s;
}
.dark-mode{
    background-color: var(---dark);
}
.menu{
    list-style: none;
}
.content{
    margin-top: 10rem;
}
.menu a{
    color: var(---purple-light);
    font-size: 1.625rem;
    text-decoration: none;
    transition: .2s;
}
.menu a:hover{
    opacity: .4;
}
.rounded{
    border-radius: 36px !important;
}
.about-me{
    max-width: 600px;
    color: var(---white);
    font-size: 1.2rem;
}
.about-descri h2{
    font-size: 4rem;
}
h2{
    color: var(---white);
}
h2 > span{
    color: var(---purple-light);
}
.gap-7{
    gap: 80px;
}
.experience-container{
    background-color: var(---gray-dark);
    width: 100%;
    max-width: 60rem !important;
    height: 600px;
    border-radius: 26px;
    overflow: auto;
}
.exp{
    width: 100%;
    max-width: 737px;
    height: 286px;
}
.line{
    width: 100%;
    max-width: 694px;
    border: solid 5px var(---gray);
}
.card{
    background-color: var(---gray);
    color: var(---white);
    width: 100%;
    max-width: 30rem;
    margin-bottom: 2rem;
}
.card-link{
    border: 2px solid var(---gray-dark);
    padding: .7rem;
    color: var(---purple-light);
    border-radius: 8px;
}
.btn{
    max-width: 200px;
}
.logo{
    width: 100%;
    max-width: 400px;
}
@media(max-width: 1100px){
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about-me{
        align-items: center;
    }
    .about img{
        width: 300px;
        max-width: 300px;
    }
    .nav-bar{
        display: none;
    }
    .btn-group{
        justify-content: none !important;
        flex-direction: column;
    }
}