@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    ---purple-light: #606FFD;
    ---white: #FFFF;
    ---dark: #060606;
    ---black: #0000;
    ---gray: #1E1E1E;
    ---gray-dark: #121212;
}

*{
    font-family: 'Inter', sans-serif;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(---dark);
}
.header.fixed{
    padding: 1rem !important;
    transition: .2s;
}
.dark-mode{
    background-color: var(---dark);
}
.menu{
    list-style: none;
}
.content{
    margin-top: 10rem;
}
.menu a{
    color: var(---purple-light);
    font-size: 1.625rem;
    text-decoration: none;
    transition: .2s;
}
.menu a:hover{
    opacity: .4;
}
.rounded{
    border-radius: 36px !important;
}
.about-me{
    max-width: 600px;
    color: var(---white);
    font-size: 1.2rem;
}
.about-descri h1{
    font-size: 4rem;
}
h1 > span{
    color: var(---purple-light);
}
.gap-7{
    gap: 80px;
}
.experience-container{
    background-color: var(---gray-dark);
    width: 100%;
    max-width: 60rem !important;
    height: 500px;
    border-radius: 26px;
    overflow: auto;
}
.exp{
    width: 100%;
    max-width: 737px;
    height: 286px;
}
.line{
    width: 100%;
    max-width: 694px;
    border: solid 5px var(---gray);
}
.card{
    background-color: var(---gray);
    color: var(---white);
    width: 100%;
    max-width: 30rem;
    margin-bottom: 2rem;
}
.repositore{
    border: 2px solid var(---gray-dark);
    padding: .7rem;
    border-radius: 8px;
}
.btn{
    max-width: 200px;
}
.logo{
    width: 100%;
    max-width: 400px;
}
.btn-mobile{
    display: none;
}
.projects-container{
    max-width: 800px;
}
@media(max-width: 1100px){
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about-me{
        align-items: center;
    }
    .about img{
        width: 300px;
        max-width: 300px;
    }
    .menu{
        display: none;
    }
    .logo{
        width: 170px;
    }
    .btn-group{
        justify-content: none !important;
        flex-direction: column;
    }
    .btn-mobile{
        display: block;
    }
    .menu{
        display: block !important;
        position: absolute;
        width: 100%;
        top: 64px;
        right: 0;
        background: var(---gray);
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    .nav-bar.active .menu{
        height: calc(100vh - 64px);
        visibility: visible;
        overflow-y: auto;
    }
    .menu a{
        display: flex;
        margin-top: 1rem;
        margin-block-end: .8rem;
        font-size: 1.2rem;
        border-bottom: 2px solid var(---purple-light);
    }
    .btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    .hamburguer{
        border-top: 2px solid var(---purple-light);
        width: 20px;
    }
    .hamburguer::after, 
    .hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: var(---purple-light);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    .nav-bar.active .hamburguer{
        border-top-color: transparent;
    }
    .nav-bar.active .hamburguer::before{
        transform: rotate(135deg);
    }
    .nav-bar.active .hamburguer:after{
        transform: rotate(-135deg);
        top: -7px;
    }
}